CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
cmake-build-*

# Rider
.idea/
*.sln.DotSettings.user

.cache/
build/
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.ncb
*.vcproj.filters
*.aps
*.pdb
*.obj
*.log
*.bak
*.sbr
*.bsc
*.lib
*.ilk
*.netmodule
*.exp
*.vshost.*
*.testsettings
*.trx
*.rdc
*.sdf
*.cache
*.ipch
*.resharper
*.resharper.user
*.dotSettings
*.dotSettings.user
*.pidb
*.vsp
*.coverage
*.coveragexml
*.dbmdl
*.licx
*.tlog
*.lastbuildstate
*.VC.db

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.com
*.manifest
*.resources
*.tmp
*.temp
*.user
*.buildlog
*.xps
*.xml
*.cache
*.pfx
*.snk

# Packages
packages/
*.nupkg
*.nuget
*.snk

# Visual Studio Code
.vscode/

# Other
Thumbs.db
Desktop.ini
